<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="LogLevel" value="DEBUG" />
    <add key="LogPath" value="C:\ALC_log\" />
    <add key="ConnectionStrings" value="server = localhost; user id = root; password=12345678; database=CYG7953Auto" />
    <add key="RotationEnable" value="1" />
    <add key="WithTM" value="0" />
    <add key="CanMoveDuringTest" value="1" />
    <add key="UPHCalculateTimeSpan" value="5" />
    <add key="UPHChartUpdateInterval" value="1" />
    <add key="UPHChartTimeSpan" value="48" />
    <add key="TMStartTestTimeout" value="60000" />
    <add key="TMResetTimeout" value="60000" />
    <add key="RunMode" value="15" />
    <add key="StressCodeFilePath" value="D:\project\ALC_7953\Auto\CYG7953Poc2Auto\ALC\StressCode.csv" />
    <add key="CustomMode" value="0" />
    <add key="DisableSocketId" value="[3,6]" />
    <add key="HandlerRecipeFile" value="P2Dl配方20211113.xml" />
    <add key="TesterRecipeFile" value="RotationPLC_cfgParams.xml" />
    <add key="CurrentImageType" value="P2D.xml" />
    <add key="EnableClientMTCP" value="0" />
    <add key="TurnOffBuzzer" value="0" />
    <add key="Socket1Enable" value="1" />
    <add key="Socket2Enable" value="1" />
    <add key="Socket3Enable" value="1" />
    <add key="Socket4Enable" value="1" />
    <add key="Socket5Enable" value="1" />
    <add key="SocketStatus" value="2" />
    <add key="Retest" value="0" />
    <add key="AuditFile" value="C:\data\audit.csv" />
    <add key="TrayConfig" value="1" />
    <add key="LoadTrayConfig" value="0" />
    <add key="DoorLockControl" value="0" />
    <add key="StationTestFailTimes" value="100" />
    <add key="SocketTestFailTimes" value="100" />
    <add key="NGTrayConfig" value="0" />
    <add key="DUTPassCount" value="0" />
    <add key="UnloadTrayConfig" value="0" />
  </appSettings>
</configuration>