<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="LogLevel" value="DEBUG" />
    <add key="LogPath" value="C:\ALC_log\" />
    <add key="ConnectionStrings" value="server = localhost; user id = root; password=123456; database=CYG7953Auto" />
    <add key="RotationEnable" value="1" />
    <add key="WithTM" value="0" />
    <add key="CanMoveDuringTest" value="0" />
    <add key="UPHCalculateTimeSpan" value="10" />
    <add key="UPHChartUpdateInterval" value="1" />
    <add key="UPHChartTimeSpan" value="48" />
    <add key="TMStartTestTimeout" value="60000" />
    <add key="TMResetTimeout" value="60000" />
    <add key="RunMode" value="1" />
    <add key="StressCodeFilePath" value="D:\Code\ALC\Auto\CYG7953Poc2Auto\ALC\StressCode.csv" />
    <add key="CustomMode" value="0" />
    <add key="DisableSocketId" value="[3,6]" />
    <add key="HandlerRecipeFile" value="AutoNormal配方.xml" />
    <add key="TesterRecipeFile" value="RotationPLC_cfgParams.xml" />
    <add key="CurrentImageType" value="199.xml" />
    <add key="EnableClientMTCP" value="0" />
    <add key="TurnOffBuzzer" value="1" />
    <add key="Socket1Enable" value="0" />
    <add key="Socket2Enable" value="1" />
    <add key="Socket3Enable" value="0" />
    <add key="Socket4Enable" value="1" />
    <add key="Socket5Enable" value="0" />
  </appSettings>
</configuration>