<?xml version="1.0" encoding="utf-16"?>
<SystemPara xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ImageSavePath>C:\temp\images\</ImageSavePath>
  <NozzleMarkAndCenterOffset>
    <X>0</X>
    <Y>0</Y>
  </NozzleMarkAndCenterOffset>
  <DutFrontMarkAndCenterOffset>
    <X>0</X>
    <Y>0.06</Y>
  </DutFrontMarkAndCenterOffset>
  <DutBackMarkAndCenterOffset>
    <X>-0.01</X>
    <Y>-0.06</Y>
  </DutBackMarkAndCenterOffset>
  <SocketMarkAndCenterOffset>
    <X>0</X>
    <Y>2.22</Y>
  </SocketMarkAndCenterOffset>
  <SocketMarkAndCenterAngle>1.5708</SocketMarkAndCenterAngle>
  <TraySlotAndCenterOffset>
    <X>0</X>
    <Y>0</Y>
  </TraySlotAndCenterOffset>
  <PreciseMarkAndCenterOffset>
    <X>0</X>
    <Y>0</Y>
  </PreciseMarkAndCenterOffset>
  <Nozzle1AngleInInitStatus>0.0384165502333222</Nozzle1AngleInInitStatus>
  <Nozzle1CenterCoordiInInitStatus>
    <X>250.913311262954</X>
    <Y>450.876584773223</Y>
  </Nozzle1CenterCoordiInInitStatus>
  <Nozzle1RotateCenterCoordiInInitStatus>
    <X>251.0637</X>
    <Y>450.8378</Y>
  </Nozzle1RotateCenterCoordiInInitStatus>
  <Cam1CenterAndNozzle1RotateCenterOffset>
    <X>-1.25485495798827</X>
    <Y>81.5943134550552</Y>
  </Cam1CenterAndNozzle1RotateCenterOffset>
  <Nozzle2AngleInInitStatus>0.0222984508070361</Nozzle2AngleInInitStatus>
  <Nozzle2CenterCoordiInInitStatus>
    <X>250.848449191813</X>
    <Y>450.660385830778</Y>
  </Nozzle2CenterCoordiInInitStatus>
  <Nozzle2RotateCenterCoordiInInitStatus>
    <X>250.7614</X>
    <Y>450.5879</Y>
  </Nozzle2RotateCenterCoordiInInitStatus>
  <Cam2CenterAndNozzle2RotateCenterOffset>
    <X>0.728958943706505</X>
    <Y>80.0158281727958</Y>
  </Cam2CenterAndNozzle2RotateCenterOffset>
</SystemPara>